body {
    background-color: indigo;
}

div#content {
    max-width: 800px;
    margin: 0px auto;
    padding: 1em;
    background-color: white;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: .2em;
    text-align: center;
}

img#mikko {
    float: right;
    margin: 5mm;
}
